<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
       <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.teachtag.com">TeachTag</a></strong>
        - a platform for K-12 teachers to discover, share, and organize teaching ideas and resources.
      </h5>
      <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.100bits.com">100bits</a></strong>
        - a simple bitcoin distribution client. It allows users to send a very
        small amount of bitcoins (.0001 BTC) to a random user or charity. Won a Coinbase hackathon for General Excellence.
      </h5>
      <h5>
        <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.apiforthat.com">API For That</a></strong>
        - an API directory which makes it easy for developers to find APIs they can build on.
      </h5>
      <h5>
        <i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.aschuenemann.movielist">MovieList</a></strong>
        - an Android app which is essentially a todo list for movies.
      </h5>
      <h5>
        <i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.aschuenemann.reminder">Reminder</a></strong>
        - an Android app which sends reminders to yourself or others.
      </h5>
      <h5>
        <i class="fa fa-android"></i>&nbsp;&nbsp;<strong><a href="https://play.google.com/store/apps/details?id=com.aschuenemann.salarycounter">Salary Stats & Counter</a></strong>
        - an Android app which gives users stats based on their salary such as how much money they make per second.
      </h5>
      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/HiddenStage/divide">Divide.io</a></strong>
        - an open source Backend-as-a-Service. It provides tools to easily, securely, and
        efficiently communicate between your app and a server.
      </h5>
      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/HiddenStage/easy-shared-preferences">easy-shared-preferences</a></strong>
        - an Android library that makes using SharedPreferences as easy as standard getters and setters.
      </h5>
      <h5>
        <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/6thSigma/twitter-char-counter">twitter-char-counter</a></strong>
        - a jQuery library which counts the number of characters in an input field and gives warnings when a user gets near a limit.
      </h5>
    </div>
  </div>
</div>
</section>
